.mainCategoria{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/AgregarCategoria/fondo.jpg);
    background-size: 100% 100%;
}

.container_agregarC{
    width: 35%;
    height: 25%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1em;
}

.titulo_agregar{
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 25px;
    color: #e39804;
    letter-spacing: 5px;
}

.agregar_categoria{
    position: absolute;
    width: 100%;
    height: 50%;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.agregar_categoria img{
    object-fit: contain;
    width: 70%;
    height: 100%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7));
}

.formCategoria{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius:1rem;
}


.formCategoria textarea{
    resize: none;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    color: black;
    font-size: 16px;
    border:none;
    border-bottom:1px solid black;
    font-size:16px;
}

.formCategoria textarea:focus{
border-bottom: 1px solid #dfac48;
}

.txt_field2 textarea {
    border:none;
    border-bottom:1px solid black;
    outline: none;
    transition: all 200ms ease;
}

.tituImagen{
    color: black;
}

.formCategoria .txt_field2 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 45%;
    height: 8%;
}

.formCategoria .txt_field2 input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    height: 40px;
}

.txt_field2 span::before{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #DFAC48;
    transition: .5s;
  }
  
  .txt_field2 input:focus{
    border: none;
  }
  
  .txt_field2 input:focus ~ label,
  .txt_field2 input:valid ~ label {
    top: -4px;
    color: #dfac48;
  }
  
  .txt_field2 input:focus ~ span::before,
  .txt_field2 input:valid ~ span::before {
    width: 100%;
  }


.formCategoria .txt_field2 label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s;
}


.divbtn_agregar22 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.divbtn_agregar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.divbtn_agregar button{
    width: 100%;
}

.divbtn_agregar button:nth-child(2){
    background-color: rgb(159, 133, 133);
}

.divbtn_agregar button:nth-child(2):hover{
    width: 35%;
    background-color: rgb(158, 114, 114);
}

@media (max-width: 1400px) {
    .custom-input-file {
        font-size: 15px;
        width: 30%;
        height: 65%;
    }

    .container_agregarC{
        width: 80%;
        margin-top:50px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_categoria{
        top: -80px;
    }
    .divbtn_agregar2{
        height:10%;
    }
}


@media (max-width: 1200px) {
    .titulo_agregar{
        font-size: 20px;
    }
    .container_agregarC{
        width: 80%;
        margin-top:50px;
        font-size:15px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_categoria{
        top: -80px;
    }

    .formCategoria textarea{
        font-size:15px;
    }
}

@media (max-width: 1024px) {
    .titulo_agregar{
        font-size: 17px;
    }
    .container_agregarC{
        width: 80%;
        margin-top:50px;
        font-size:13px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_categoria{
        top: -80px;
    }
    .formCategoria textarea{
        font-size:13px;
    }
}

@media (max-width: 768px) {
    .titulo_agregar{
        font-size: 16px;
    }
    .container_agregarC{
        width: 80%;
        margin-top:70px;
        font-size:11px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_categoria{
        top: -80px;
    }
    .formCategoria textarea{
        font-size:10px;
    }
    .divbtn_agregar{
        width:70%;
    }
}

@media (max-width: 500px) {
    .titulo_agregar{
        font-size: 16px;
    }
    .container_agregarC{
        width: 75%;
        margin-top: 80px;
    }
    .mainAgregar{
        background-size: cover;
    }
}
