
.clicks{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 250px;
    position: relative;
    overflow: hidden;
    padding: 0px 50px;
    background-color:rgba(255, 255, 255, 0.329);
}

.direccionGoogle{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    z-index: -1;
}

.contenedor_clicks{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}

.contenedor_clicks2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 30%;
}

.contenedor_clicks2 h2{
    color: #F29900;
    border-bottom:2px solid black;
    
}

.logo_click{
    width: 30%;
}

.contenedor_clicks img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.contenedor_clicks p{
    font-size: 20px;
    font-weight: bold;
}

.contenedor_clicks2 p{
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .clicks{
        margin-top: 300px;
    }
}

@media (max-width: 1200px) {
    .clicks{
        height: 90vh;
        margin-top: 300px;
    }
}

@media (max-width: 1024px) {
    .logo_click{
        width: 20%;
    }
    .clicks{
        margin-top: 145px;
    }
}

@media (max-width: 768px) {
    .logo_click{
        width: 25%;
    }
    .clicks{
        margin-top: 110px;
        background-size: cover;
    }
}

@media (max-width: 500px) {
    .clicks{
        margin-top: 0;
        margin-bottom: 100px;
        align-items: center;
    }
    .contenedor_clicks{
        margin-top: 70px;
    }
    .logo_click{
        width: 30%;
    }
    .contenedor_clicks p{
        font-size: 20px;
        font-weight: bold;
    }
}