.overlayEditar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0;
}

.container_agregar2{
    width: 60%;
    height: 85%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1em;
    opacity:0;
    transform:scale(0.6);
    transition: all 300ms ease;
    text-align:center;
    padding:1rem;
}

.container_agregar2 .tituEditar{
    width:100%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.formAgregar2{
    height: 95%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    
    font-size:14px;
}

.select_agregar{
    width: 30%;
    height:40px;
    margin: 20px 0px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select_agregar select{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: all 600ms;
    font-size: 14px;
}

.select_agregar2{
    width: 100%;
    height:40px;
    margin: 0px 0px 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select_agregar2 select{
    width: 30%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: all 600ms;
    font-size: 16px;
}

.custom-input-file {
    background-color: #dfac48;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 46px;
    position: relative;
    text-align: center;
    width: 30%;
    height: 30%;
    border-radius: .4em;
    transition: all 300ms;
    position: relative;
  }

  .custom-input-file:hover {
    background-color: #da9d24;
    color: #fff;

  }

.custom-input-file p{
    height: 100%;
    line-height: 28px;
}

.select_agregar input{
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.select_agregar2 input{
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.formAgregar2 textarea{
    resize: none;
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    color: black;
    font-size: 16px;
    border:none;
    border-bottom:1px solid black;
    font-size:16px;
}

.formAgregar2 textarea:focus{
border-bottom: 1px solid #dfac48;
}

.txt_field textarea {
    border:none;
    border-bottom:1px solid black;
    outline: none;
    transition: all 200ms ease;
}

.tituImagen{
    color: black;
}

.formAgregar2 .txt_field {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 5%;
}

.formAgregar2 .txt_field input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    height: 40px;
}

.formAgregar2 .txt_field input[type="date"]{
    color: white;
}

.formAgregar2 .txt_field input[type="date"]:valid,
.formAgregar2 .txt_field input[type="date"]:focus {
    color: rgb(0, 0, 0);
}

.formAgregar2 .txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: 0.5s;
}


.divbtn_agregar2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
}

.divbtn_agregar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.divbtn_agregar button{
    width: 35%;
}

.divbtn_agregar button:nth-child(2){
    background-color: rgb(159, 133, 133);
}

.divbtn_agregar button:nth-child(2):hover{
    width: 35%;
    background-color: rgb(158, 114, 114);
}

@media (max-width: 1400px) {
    .custom-input-file {
        font-size: 15px;
        width: 30%;
        height: 65%;
    }

    .container_agregar{
        width: 80%;
        margin-top:50px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_sofa{
        top: -80px;
    }
    .divbtn_agregar2{
        height:10%;
    }
}


@media (max-width: 1200px) {
    .titulo_agregar{
        font-size: 20px;
    }
    .container_agregar{
        width: 80%;
        margin-top:50px;
        font-size:15px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_sofa{
        top: -80px;
    }

    .formAgregar2 textarea{
        font-size:15px;
    }
}

@media (max-width: 1024px) {
    .titulo_agregar{
        font-size: 17px;
    }
    .container_agregar{
        width: 80%;
        margin-top:50px;
        font-size:13px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_sofa{
        top: -80px;
    }
    .formAgregar2 textarea{
        font-size:13px;
    }
}

@media (max-width: 768px) {
    .titulo_agregar{
        font-size: 16px;
    }
    .container_agregar{
        width: 80%;
        margin-top:70px;
        font-size:11px;
    }

    .titulo_agregar{
        top: 10px;
    }

    .agregar_sofa{
        top: -80px;
    }
    .formAgregar2 textarea{
        font-size:10px;
    }
    .divbtn_agregar{
        width:70%;
    }
}

@media (max-width: 500px) {
    .titulo_agregar{
        font-size: 16px;
    }
    .container_agregar{
        width: 75%;
        margin-top: 80px;
    }
    .mainAgregar{
        background-size: cover;
    }
}
