footer {
    width: 100%;
    background-image: url('../images/fondo-mueble1.jpg');
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 900px;
    font-size: 20px;
  }

  .accesosRedes{
    width: 100%;
    height: 20%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .accesosRedes .red{
    width: 4%;
    height: 90%;
  }

  .accesosRedes .red1:hover img{
    filter: drop-shadow(0 0 0.75rem #A8DAB5);
  }
  .accesosRedes .red2:hover img{
    filter: drop-shadow(0 0 0.75rem #507DD2);
  }
  .accesosRedes .red3:hover img{
    filter: drop-shadow(0 0 0.75rem crimson);
  }
  .accesosRedes .red4:hover img{
    filter: drop-shadow(0 0 0.75rem #232323);
  }

  .accesosRedes a img{
    object-fit:contain;
    width: 100%;
    height: 100%;
    transition:all 300ms ease;
  }
  
  .informacion_superior-footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    width: 70%;
  }
  
  footer ul {
    flex-direction: column;
  }
  
  footer ul li {
    list-style: none;
    
  }
  
  .informacion_superior-footer ul li:nth-child(1){
    line-height: 100px;
    text-align: center;
    font-size: 30px;
  }
  .contenedor_inferior-footer{
    width: 50%;
  }
  
  .contenedor_inferior-footer ul li:nth-child(1){
    line-height: 70px;
    text-align: center;
    font-size: 30px;
  }
  
  .contenedor_redes-footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .contenedor_redes-footer li a{
    font-size: 25px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 300ms;
  }
  
  footer ul li a:hover {
    text-decoration: none;
    color: #DCAA47;
  }

  @media (max-width: 1400px) {
    footer {
      height: 100vh;
      font-size: 18px;
    }
    .informacion_superior-footer{
      margin-top: 120px;
    }
  }

  @media (max-width: 1200px) {
    footer {
      height: 80vh;
      position: relative;
    }

    footer h3{
      margin: 0;
    }

    .informacion_superior-footer{
      position: absolute;
      top: 30px;
    }

    .informacion_superior-footer h3{
      line-height: 40px;
    }

    .contenedor_inferior-footer{
      position: absolute;
      bottom: 0px;
      overflow: none;
      width: 80%;
    }
    .contenedor_inferior-footer h3{
      line-height: 25px;
    }
  }

  
  
  @media (max-width: 1024px) {
    footer {
      height: 70vh;
      font-size: 18px;
    }
    .informacion_superior-footer ul li:nth-child(1){
      font-size: 27px;
    }
    .contenedor_inferior-footer ul li:nth-child(1){
      font-size: 27px;
    }
  }
  
  @media (max-width: 768px) {
    footer {
      height: 60vh;
      font-size: 18px;
    }

    .informacion_superior-footer{
      margin-top: 50px;
    }

    .informacion_superior-footer ul li:nth-child(1){
      font-size: 20px;
    }
    .contenedor_inferior-footer ul li:nth-child(1){
      font-size: 20px;
    }
    .contenedor_redes-footer{
      width: 100%;
      justify-content: space-between;
    }
    .contenedor_inferior-footer{
      width: 78%;
    }
  }
  
  @media (max-width: 500px) {
    footer {
      height: 45vh;
      font-size: 15px;
    }
    .informacion_superior-footer{
      margin-top: 10px;
    }
    .informacion_superior-footer ul li:nth-child(1){
      font-size: 16px;
    }
    .contenedor_inferior-footer ul li:nth-child(1){
      font-size: 16px;
    }
    .contenedor_redes-footer li a{
      font-size: 15px;
    }
    .contenedor_redes-footer{
      height: 50px;
    }
    .contenedor_inferior-footer{
      width: 70%;
      overflow: hidden;
    }
    .accesosRedes{
      width: 100%;
      height: 20%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .accesosRedes .red{
      width: 4%;
      height: 90%;
    }
  }

  @media (max-width: 400px) {
    footer {
      height: 35vh;
      font-size: 11px;
      position: relative;
    }

    footer h3{
      margin: 0;
      font-size: 14px;
    }

    .informacion_superior-footer{
      position: absolute;
      top: 30px;
    }

    .informacion_superior-footer h3{
      line-height: 40px;
    }

    .contenedor_inferior-footer{
      position: absolute;
      bottom: 0px;
      overflow: none;
      width: 80%;
    }
    .contenedor_inferior-footer h3{
      line-height: 25px;
    }
  }