/* HEADER */

header {
  width: 100%;
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header{
  background-color: rgba(0, 0, 0, 0.815);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 200;
  top: -100vh;
  transition: all 600ms ease;
}

.open_header{
  top: 0;
}

header img{
  width: 200px;
}

.nav__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__links {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  transition: all ease-in-out 0.5s;
}

.nav__links a:hover {
  color: white;
  margin-left: 20px;
  text-shadow:  0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 10px #DCAA47,
                0 0 30px #DCAA47,
                0 0 40px #DCAA47,
                0 0 60px #DCAA47,
                0 0 70px #DCAA47;
}
