/* HEADER */

header {
  width: 100%;
  background-color:rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header{
  background-color: rgba(0, 0, 0, 0.815);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 200;
  top: -100vh;
  transition: all 600ms ease;
}

.open_header{
  top: 0;
}

header img{
  width: 200px;
}

.nav__header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__links {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  transition: all ease-in-out 0.5s;
}

.nav__links a:hover {
  color: white;
  margin-left: 20px;
  text-shadow:  0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 10px #DCAA47,
                0 0 30px #DCAA47,
                0 0 40px #DCAA47,
                0 0 60px #DCAA47,
                0 0 70px #DCAA47;
}

/* PERFIL DE USUARIO */
.perfil__header{
  position: absolute;
  top: 30px;
  right: 10px;
}

.perfil__details{
  width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.perfil__details li{
  list-style: none;
  display: flex;
  
  height: 55px;
}

.perfil__details .titu_usuario{
  overflow: hidden;
  width: 50px;
}

.perfil__details li h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.access:hover{
  text-shadow: none;
  margin-left: 0px;
  transform: none;
}

.perfil__details img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius:50%;
}


.perfil__details .imgUser{
  width: 55px;
  height: 100%;
}


.perfil__username{
  padding: 10px;
}

@media (max-width: 1400px){
  .perfil__header{
    right: 100px;
  }
  .perfil__details .titu_usuario{
    width: 120px;
  }
}