.overlay_modal{
    width:100vw;
    height:10vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 40px;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

.overlay_modal2{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 40px;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    background-color: rgba(255, 255, 255, 0.685);
    transition: all 300ms ease;
}

.contenido_modal{
    width:500px;
    min-height:50px;
    background:#aa8a0c;
    position:relative;
    top: -100px;
    border-radius:5px;
    box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 500ms ease;
}

.contenido_modal p{
    font-size: 16px;
}

.contenido_modal .aceptar{
    width: 14%;
    border: none;
    background-color: transparent;
    color: green;
    font-size: 11px;
    transition: all 300ms ease;
}

.contenido_modal .aceptar:hover{
    transform: scale(1.2);
    color: rgb(0, 88, 0);
}

.contenido_modal .cancelar{
    width: 15%;
    border: none;
    background-color: transparent;
    color: rgb(175, 0, 0);
    font-size: 11px;
    transition: all 300ms ease;
}

.contenido_modal .cancelar:hover{
    transform: scale(1.2);
    color: rgb(88, 0, 0);
}

