.pageNot{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNot .fondo{
    width: 50%;
}

.fondo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}