.mainProducts{
    width: 100%;
    min-height: 100vh;
    background-color:white;
}

.title-category {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #313131;
    text-align: center;
    padding: 20px 0 0 0;
}

.section__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
}

.section__products2{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.product-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px 20px;
    overflow: hidden;
    position: relative;
}

.nuevoP{
    position:absolute;
    width:50px;
    height:50px;
    box-sizing:border-box;
    z-index: 1;
}


.nuevoP:before {
    content: "¡Nuevo!";
    position:absolute;
    top:-8px;
    left:-32px;
    display: block;
    box-sizing:border-box;
    font-size: 11px;
    text-align:center;
    font-weight: 700;
    color: white;
    background: transparent; 
    height:0;
    width:98px;                      
    border:25px solid transparent;
    border-bottom:25px solid black;
    line-height:23px;
    transform: rotate(-45deg);
}

.product-img-container {
    background-color: #F6F8FA;
    padding: 15px 15px 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.product-img .linkImg,
.product-img {
    width: 100%;
    height: 300px;
    display: flex;
    cursor: pointer;
    position:relative;
}

.product-img .linkImg img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade .8s;
}

.product-img-back {
    position: absolute;
    bottom: -300px;
    transition: all 450ms ease;
}


.product-box-text {
    padding: 0 15px;
    margin-top: 5px;
    width: 100%;
}

.product-category {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span {
    color: #333333;
    font-size: .9rem;
    margin: 5px 0px;
    font-weight: bold;
}

.product-title {
    color: #a78034;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-title:hover {
    counter-reset: #616161;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    position: relative;
}

.stars{
    position: relative;
    z-index: 1;
    width:23%;
}

.stars2{
    position: absolute;
    right: 0;
    width:23%;
}

.price i{
    color: rgb(255, 208, 0);
    font-size: 11px;
}

.price .star-grey{
    color: #d1d1d1;
}

.price .product-price {
    font-size: 1.2rem;
    color: #cc9d40;
    font-weight: 700;
}

.product-btn .ver-btn {
    width: 10%;
    padding: 9px 0;
    border:none;
    background: #fff;
    color: #7a7a7a;
    border: .1px solid #e0dede;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: 600ms all;
    transition: background 300ms all;
    position: absolute;
    top: 60px;
    right: -51px;
}

.product-btn .buy-btn {
    width: 10%;
    padding: 5px 0;
    border:none;
    background: #dcaa47;
    color: #fff;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: 400ms all;
    position: absolute;
    top: 20px;
    right: -31px;
}


.product-btn .buy-btn:hover {
    transform: scale(1.10);
}

.buy-btn:hover ~ .product-img-back {
    bottom: 0px;
}

.product-btn .ver-btn:hover {
    transform: scale(1.10);
    background-color:#dcaa47 ;
    color: white;
    border: none;
}

.ver-btn:hover .product-img-back {
    bottom: 0px;
}

.product-img-front{
    position: relative;
    opacity: 1;
    transition: all 900ms ease;
  }

.fa-shopping-cart{
    margin: 5px;
}

.product-img-container:hover .product-img-back {
    bottom: 0px;
}

.product-card:hover .buy-btn,
.product-card:hover .ver-btn {
    right: 20px;
    overflow: visible;
}

.product-img-container:hover .product-img-front {
    opacity: 0;
}

