.slick-prev,
.slick-next {

    color: black;

    &:hover, &:focus {
        color: black;
    }
    &:before {

        color: black;

    }
}
.slick-dots {
    bottom: -50px;
    display: none;
}

