.mainTable-products{
    width: 100%;
    height: 100%;
}

.title-table-products{
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    padding: 20px 0 0 0;
}

.section__table-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 60px;
}

.table-products{
    margin: 25px 0;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    border: 2px solid #000;
}

thead{
    background-color:#db970e ;
}

tbody{
    background-color: white;
}

.primerCol{
    padding: 0;
    border: none;
    width: 0;
}

.etiquetas{
    
}

.disponible{
    position: absolute;
    width: 6%;
    right: -40px;
    top: 10%;
    z-index: 1;
    background-color: #db970e;
    color: white;
    font-size: 11px;
    padding: 0px 2px;
    text-align: center;
}


.disponible:before {
    content: "";
    position: absolute;
    background-color: white;
    right: -10px;
    height: 0%;
    width: 0;
    border-style: solid;
    border-width: 9px 10px 8px 0px;
    border-color: #db970e transparent #db970e #db970e;
}

.destacado{
    position: absolute;
    width: 6%;
    right: -40px;
    top: 40%;
    z-index: 1;
    background-color: #000000;
    color: white;
    font-size: 11px;
    padding: 0px 2px;
    text-align: center;
}


.destacado:before {
    content: "";
    position: absolute;
    background-color: white;
    right: -10px;
    height: 0%;
    width: 0;
    border-style: solid;
    border-width: 9px 10px 8px 0px;
    border-color: #000000 transparent #000000 #000000;
}

.nuevo{
    position:absolute;
    width:351px;
    height:170px;
    box-sizing:border-box;
}


.nuevo:before {
    content: "¡Nuevo!";
    position:absolute;
    top:-8px;
    left:-32px;
    display: block;
    box-sizing:border-box;
    font-size: 11px;
    text-align:center;
    font-weight: 700;
    color: white;
    background: transparent; 
    height:0;
    width:98px;                      
    border:25px solid transparent;
    border-bottom:25px solid black;
    line-height:23px;
    transform: rotate(-45deg);
}

.buttonsTable-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAction-table{
    border: none;
    padding: 10px;
    margin: 3px;
    border-radius: 1em;
}

.update-products{
    background-color: #dfac48;
    width: 32px;
    height: 40px;
    transition: all 0.35s;
}

.delete-products{
    background-color: #000;
    transition: all 0.35s;
}

.update-products:hover{
    background-color: #db970e;
}

.delete-products:hover{
    background-color: #3a3a3a;
}

.fa-trash{
    color: #fff;
}

.img-table{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.botonEstado{
    border: none;
    color: white;
    transition: all 300ms ease;
    padding: 5px;
    border-radius: 2px;
}

.botonEstado:hover{
    background-color: #bb800b;
    transform: translateY(-2px);
}

.update-products img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width:1400px){
    .disponible{
        width:7%;
    }
}