.mainVision{
    background-color: black;
    width: 100%;
}

.container_triangulo2{
    max-width: 1200px;
    margin: auto;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangulo11{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #634E37, #593531 );
    right: 200px;
    top: 200px;
    animation: t11 8s ease infinite;
    border-radius: 50%;
}

.triangulo22{
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, #F2C941, #E8843F );
    top: 300px;
    animation: t22 12s ease infinite;
}

.triangulo33{
    width: 250px;
    height: 250px;
    background: linear-gradient(to left, #E8B774, #DE7F6F );
    left: 300px;
    animation: t33 5s ease infinite;
}

@keyframes t11 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(00px);
    }
}

@keyframes t22 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(00px);
    }
}

@keyframes t33 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(00px);
    }
}

.contenedorVision{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}


.banner22{
    margin-top: 200px;
    height: 400px;
    width: 80%;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.banner__icon-micro2{
    width: 35%;
    height: 100%;
}

.banner__icon-micro2 img{
    width: 500px;
    position: relative;
    filter: drop-shadow(-20px 0px 18px rgba(255, 255, 255, 0.2));
    margin-top: 250px;
}

.banner__text2{
    width: 50%;
    position:relative;
    padding: 40px;
    font-size: 16px;
}

.banner__text2 h2{
    color: #dcaa47;
    font-size: 50px;
    font-weight: 400;
}


.banner__icon-numeral2{
    height: 100%;
    position:absolute;
    right: 10px;
    overflow: hidden;
}

.banner__icon-numeral2 img{
    width: 400px;
    position:relative;
    margin-top: -250px;
    opacity:0.6;
}

.onda2{
    width: 100%;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

@media (max-width: 1400px) {
    .banner22{
        height: 383px;
    }
    .banner__icon-micro2 img{
        width:380px;
        margin-top: 190px;
    }
    .banner__text2{
        width: 60%;
    }
    .mainVision{
        height: 90vh;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .banner22{
        height: 245px;
    }
    .banner__icon-micro2 img{
        width:350px;
        margin-top: 190px;
    }
    .banner__icon-numeral2 img{
        width: 350px;
    }
    .banner__text2{
        width: 60%;
    }
    .mainVision{
        height: 90vh;
        width: 100%;
    }

    .container_triangulo2{
        max-width:1000px;
    }

    .triangulo11{
        width: 150px;
        height: 150px;
    }
    
    .triangulo22{
        width: 100px;
        height: 100px;
    }
    
    .triangulo33{
        width: 200px;
        height: 200px;
    }
    
}

@media (max-width: 1024px) {
    .banner22{
        justify-content: space-around;
    }
    .banner__icon-micro2 img{
        width:340px;
    }
    .banner__icon-numeral2{
        visibility: hidden;
    }
    .container_triangulo2{
        max-width: 800px;
    }
    .triangulo11{
        width: 130px;
        height: 130px;
        top: 30px;
    }
    
    .triangulo22{
        width: 80px;
        height: 80px;
    }
    
    .triangulo33{
        width: 180px;
        height: 180px;
        left: 200px;
    }
}

@media (max-width: 768px) {
    .banner22{
        justify-content: space-around;
    }
    .banner__icon-numeral2{
        visibility: hidden;
    }
    .banner__icon-micro2 img{
        width: 270px;
        margin-top: 230px;
    }
    .banner__text2{
        width: 60%;
        font-size: 14px;
    }
    .container_triangulo2{
        max-width: 600px;
    }
    .triangulo33{
        left: 150px;
    }
}

@media (max-width: 500px) {
    .contenedorVision{
        align-items: center;
    }
    .banner22{
        margin: 0;
    }
    .banner__icon-micro2{
        visibility: hidden;
        width: 0;
    }

    .banner__text2{
        width: 100%;
        font-size: 14px;
    }
    .container_triangulo2{
        max-width: 400px;
    }
    .triangulo33{
        left: 20px;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 400px) {
    .contenedorVision{
        align-items: center;
    }
    .banner22{
        margin: 0;
    }
    .banner__icon-micro2{
        visibility: hidden;
        width: 0;
    }

    .banner__text2{
        width: 100%;
        font-size: 14px;
    }
    .container_triangulo2{
        max-width: 400px;
    }
    .triangulo33{
        left: 20px;
        width: 100px;
        height: 100px;
    }
    .triangulo11{
        width: 130px;
        height: 130px;
        top: 100px;
        right: 20px;
    }

    .banner__text{
        font-size: 12px;
    }
    
}